body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.marketeiro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 100px;
}

.container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

#marketeiroForm {
  margin-bottom: 0;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input,
textarea,
button {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

input[readonly] {
  background-color: #eee;
}

button {
  background-color: #5c6bc0;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #3949ab;
}
